**/bin/
**/obj/
artifacts/
TestResults/
*.trx
*.coverage
*.coveragexml
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.csproj.user
*.iwashiscope
*.exe
*.dll
*.pdb
*.obj
*.lib
*.exp
*.ilk
logs/
*.tmp
*.bak
Thumbs.db
Desktop.ini
